@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@if (AuthenticationService.User != null)
{
  <!-- nav -->
  <header>
    <nav>
      <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
      <NavLink href="cats" Match="NavLinkMatch.All" class="nav-item nav-link">Cats</NavLink>
      <NavLink href="dogs" Match="NavLinkMatch.All" class="nav-item nav-link">Dogs</NavLink>
      <NavLink href="logout" class="nav-item nav-link">Logout</NavLink>
    </nav>
  </header>
}
else
{
  <NavLink href="login" class="nav-item nav-link">Login</NavLink>
  <NavLink href="register" class="nav-item nav-link">Register</NavLink>
}

<main>
  @Body
</main>