@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@if (AuthenticationService.User != null)
{
  <!-- nav -->
  <header>
    <nav>
      <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
      <NavLink href="logout" class="nav-item nav-link">Logout</NavLink>
    </nav>
  </header>
}

<main>
  @Body
</main>