@page "/"
@attribute [Authorize]
@inject IUserService UserService
@inject IAuthenticationService AuthenticationService

<h2>Welcome, @currentUser.FirstName @currentUser.LastName</h2>
<h6>Users currently logged in:</h6>
@if (loading)
{
  <div class="loading"></div>
}
@if (users != null)
{
  <ul>
  @foreach (var user in users)
    {
      <li>@user.FirstName @user.LastName</li>
    }
  </ul>
}

@code {
  private bool loading;
  private IEnumerable<User> users;
  private User currentUser;

  protected override async Task OnInitializedAsync()
  {
    loading = true;
    currentUser = AuthenticationService.User;
    users = await UserService.GetAll();
    loading = false;
  }
}